
services:
  api:
    build: .
    ports:
      - "8000"
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: secret
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
       - api

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres_data:/var/lib/postgresql/data

    env_file:
      - .env

volumes:
  postgres_data:
 